body, p {
  margin: 0px;
}
.ref{
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 500;
  cursor: pointer;
}

.ref:hover, 
.ref:visited{
   text-decoration: none;
   color: #FFFFFF;
}
.page {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-family: Roboto;
    font-style: normal;
    color: #FFFFFF;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color:  #37ABFF;
}

.title{
  margin-top: 26px;
  margin-bottom: 26px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  margin-left: 40px;
}

.rectangle-group{
  display: flex;
}

.rectangle-group__rectangle{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #59B9FF;
  margin-right: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.main-and-sidebar-wrapper{
  display: flex;
}

.sidebar{
  background: #EDEDED;
  font-size: 18px;
  line-height: 21px;
  color: #464646;
  width: 300px;
  flex-shrink: 0;

}

.sidebar__title{
  padding-left: 40px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;

}

.list{
  list-style-type: none;
  padding: 0;
}

.list__element{

  padding: 20px 90px 20px 40px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;

}

.list__element_selected{
  background-color: #DCDCDC;

}

.full-width {
  width: 100%;
}

.main{
  background: #FFFFFF;
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  padding: 40px;
}

.card-info{
  display: flex;
  flex-direction: column;
  background: #F3F3F3;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  width: 230px;
  color: #464646;
  height: 340px;
}

.card-info__text{

  margin: 17px 12px 0 10px ;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #464646;
}

.card-info__title{
  color: #464646;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 7px;
  font-weight: bold;
}

.card-info__date{
  color: #ABABAB;
  margin-left: 10px;
  font-size: 10px;
  line-height: 12px;
}

.button{
  background: #37ABFF;
  border-radius: 8px;
  margin: 0px auto;
  width: 248px;
  margin-bottom: 34px;
  padding: 16px 56px 16px 56px;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
}

.card-info__link{
  background-color: #DCDCDC;
  border-radius: 0px 0px 10px 10px;
  display: block;
  width: 100%;
  margin-top: auto;
  padding-top: 10px;
  padding-bottom: 11px;
  text-align: center;
  color: #464646;
  font-size: 16px;
 }

.card-info__link:hover{
  color:hsl(245, 47%, 10%);
}

.footer{
  display: flex;
  flex-direction: row;
  background-color: #3C3C3C;
  justify-content: space-between;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  padding: 17px 41px 17px 39px;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}

@media screen and (max-width: 700px) {
  .rectangle-group {
    display: none;
  }

  .main-and-sidebar-wrapper {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }
}

