.page {
    width: 900px;
    margin: 0 auto;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
}

.header {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.description{
    width: 900px;
    font-size: 18px;
    text-align: center;
    padding-bottom: 20px;
    font-weight: normal;
}

.logo {
    position: relative;
    padding-left: 35px;
    margin: 0;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: normal;
  }
  
  .logo::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 6px;
    width: 20px;
    height: 18px;
    background: url(img/logo.jpg) no-repeat;
    background-size: cover;
  }

  .logo::after {
    content: '';
    bottom: -20px;
    left: 30%;
    height: 3px;
    width: 50%;
    background-size: cover;
    background-color: black;
    position: absolute;
  }

.section{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 900px;
}

.user-info{
    width: 200px;
    margin: 0 50px 40px 50px;
    text-align: center;
}

  .user-info-img{
    border-radius: 50%; /* Радиус скругления */
    width: 200px;
    height: 200px;
    object-fit: cover; 
  }

  .fio{
    font-weight: normal;
    margin: 0 10px 7px 10px;
    margin-bottom: 7px; 
  }

  .edu{
    color: gray;
    margin: 0;
   }
  
  .ellipsis {
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    text-overflow: ellipsis; /* Добавляем многоточие */
  }
